/* FONTS */

/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-regular.woff") format("woff");
  font-display: swap;
}

/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/livvic-v11-latin-600.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-600.woff") format("woff");
  font-display: swap;
}

/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-700.woff") format("woff");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;

}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Livvic", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}

.button {
  white-space: nowrap;
  width: 100%;
  max-width: 153px;
  border-radius: 24px;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}


/* SITE-HEADER */

.site-header-container {
  background-color: #014e56;

}

.site-header {
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 73px;
  padding-bottom: 120px;
}

.site-logo {
  margin-right: 80px;
}

.site-logo:active {
  opacity: 0.8;
}

.site-main-links {
  display: flex;

}

.site-main-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  transition: color 4s ease;
}

.site-main-link:hover {
  color: #f67e7e;
}

.site-main-link:active {
  opacity: 0.8;
}

.site-main-link:not(:last-child) {
  margin-right: 40px;
}



.site-header-button-link {
  color: #fff;
  padding: 10px 32px;
  border: 2px solid #fff;
  margin-left: auto;
}

.site-header-button-link:hover {
  background-color: #fff;
  color: #014e56;
}


/* SITE-CONTACT */

.site-contact {
  padding-bottom: 120px;
  background: url(../img/directors-circle.svg) no-repeat, url(../img/left-cicle.svg) no-repeat;
  background-position: left -100px top, right bottom;
  background-color: #014e56;
}

.contact-page {
  display: flex;
}

.site-contact-about {
  display: flex;
  flex-direction: column;
  margin-right: 113px;
}

.site-contact-about-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
}

.site-contact-about-box {
  display: flex;
  flex-direction: column;
}

.contact-about-box-heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
}

.contact-about-info {
  margin-bottom: 8px;
  display: flex;
  align-items: center;

}

.contact-about-info-img {
  margin-right: 23px;
}

.contact-about-info-text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.site-contact-about-form {
  flex-grow: 1;
}

.contact-about-form-box {
  display: flex;
  flex-direction: column;

}

.contact-about-input {
  padding: 0px 81px 17px 14px;
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
  max-width: 540px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #79c8c7;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #fff;

}

.contact-about-textarea {
  margin-bottom: 24px;
  padding-bottom: 58px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.12px;
  color: #fff;
  opacity: 0.6;
  background: transparent;
  border: none;
  border-bottom: 1px solid #79c8c7;

}

.button-submit{
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #fff;
}

.site-about-form-link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  padding: 10px 32px;
}

.site-about-form-link:hover{
  color: #fff;
}

.button-submit:hover{
  background-color: #004047;

}


/* SITE-FOOTER */
.site-footer {
  background-color: #002529;

}

.site-footer-container {
  flex-grow: 1;
  padding: 48px 0px;
  display: flex;
  align-items: flex-start;
}

.site-footer-logo-links-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.site-footer-logo-links-box .site-logo {
  margin-bottom: 25px;
  margin-right: 0;
}

.site-footer-adress-list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer-adress-list-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.site-footer-networks-adress {
  flex-grow: 1;
}

.site-footer-networks {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.site-footer-network-link:not(:last-child) {
  margin-right: 16px;
}

.site-footer-networks .site-footer-network-link-icon:hover path {
  fill: #f67e7e;
}

.site-footer-copyright {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  opacity: 0.6;
}